mainBgColor = #050005
tileBgColor = lighten(#100005, 2)

commentsColor = #aaa

richTextColor = #E9E6F8
richTextColorHover = darken(richTextColor, 10)
textColor = #F9F7E0
textColorDark = desaturate(darken(textColor, 33), 70%)
blandTextColor = desaturate(darken(textColorDark, 15), 15)

darkTileBgColor = desaturate(darken(tileBgColor, 1), 40)

richBgColor = lighten(tileBgColor, 3)
richBorderColor = lighten(tileBgColor, 5)
richBgColorHover = lighten(tileBgColor, 5)
richBorderColorHover = lighten(tileBgColor, 7)
lightRichBgColor = lighten(tileBgColor, 10)
veryLightRichBgColor = desaturate(lighten(tileBgColor, 60), 80)
veryLightRichBgColorHover = lighten(veryLightRichBgColor, 5)


//xlarge
large = '(max-width: 1069px)'
medium = '(max-width: 972px)'
small =  '(max-width: 777px)'

rich-element-recolor()
    background-color richBgColor
    border-color richBorderColor
    color textColor

button-recolor()
    rich-element-recolor()
    &:hover
        background-color richBgColorHover
        border-color richBorderColorHover

inline-flex-center()
    display inline-flex
    justify-content center
    align-items center

input-recolor()
        background-color richBgColor
        color richTextColor
        border-color richBorderColorHover
        &:focus, &:active
            border-color lightRichBgColor

/* Fonts */

.rcf-tag-fonts
    font-size 16px
    
    .article__heading--content
        font-size 110%

    .discussion__topics
        font-size 110%

/* Background */

.rcf-tag-color
    .main, .page-block
        border-color mainBgColor
        margin-bottom 0

    body,
    .row,
    .page
        background-color mainBgColor

    .author__info .row
        background-color transparent


    .sidebar, .tile, .main, .tips, .promo__inner, .content__more 
    .content--bg, .content--breadcrumb, .content--detail, .content--promo
    .detail__perex .perex
    .section--detail-bottom
    .serial__pagination
    .serial__pagination a
    .opener
    .detail__bottom, .detail__info-bar
    .impressum__rubrics
        background-color tileBgColor

.detail__perex .perex
    margin 0
    padding 1em
          
.rcf-tag-color
    .section::before 
        border-color richBgColor

    .article:not(:first-child) .article__heading--sidebar
    .content__more
        border-color lighten(tileBgColor, 5)

    .content__more.active, .content__more:active, .content__more:hover, .open > .dropdown-toggle.content__more
    .classification > a
    .discussion__new
        button-recolor()

    .article--sidebar:hover
    .discussion__topic:hover
        background-color lighten(tileBgColor, 3)
   
/* Color */

.rcf-tag-color
    .tips__heading
    .section__heading:not(.section__heading--serial)
    a
    .nav__link, .nav__link:visited
    .discussion__tabs .nav__link
    .discussion__link
        color richTextColor

    .link-block:visited .article__heading
        color darken(textColor, 5)

    .section__header a:visited
    a:visited
        color darken(richTextColor, 10)
        
    .comments__count--total
        color commentsColor

    .discussion__link svg
        fill commentsColor
        
    .comments__count--new
        color lighten(commentsColor, 10)

.rcf-tag-color
    body
    .article__perex
    .perex
    .article__text
    .tip__link
    .opener__body
    h1, h2, h3, h4, h5, h6
        color textColor

    .impressum--article .impressum__author
    .impressum
    .impressum__date
    .author__name a
    .impressum__rubrics
    .perex__date
        color textColorDark
        
    .impressum__date svg
    .perex__date svg
        fill textColorDark

.rcf-tag-color
    .tips
        position relative

    .tips::before // hide tips arrow (background svg, no easy way to recolor)
        background none
        content '>'
        font-size 150px
        position absolute
        left 80px
        display inline-block
        top -70px
        opacity 0.3

/* Comments (text) */

.rcf-tag-color
    .opinion-view
        background-color darken(tileBgColor, 1)
        border-color lighten(tileBgColor, 7)
        margin-bottom 1em
        
    .opinion-text
        padding-right 0.5em
        padding-bottom 0.7em

        h3.title a
            color richTextColor
        
    .opinion-summary a
    .opinions-add
        button-recolor()

    .opinion-odpovedet
        button-recolor()
        box-shadow 0 2px 0 veryLightRichBgColor
        
    .opinionButtons:hover .button
        background 0
        
    .opinionButtons .button:hover
        color richTextColorHover

    .msg.info, ul.messages li.info
        border-color richBorderColor
        background-color richBgColor
        color textColor
    
.rcf-tag-color
    #addComment
        background-color tileBgColor
        
        .button
            button-recolor()
            
        .loginNotice
            background-color tileBgColor
            border 1px solid richBorderColor
            a
                border 0
                button-recolor()
                box-shadow none
                border-radius 0

        td
            input.text
            textarea
                input-recolor()
                
    input.text:focus, input[type="number"]:focus, input[type="text"]:focus, textarea:focus
        box-shadow none

    
/* Tiles */

.rcf-tag-color
    .tile
        box-shadow unset
        &:hover, &:active
            box-shadow 0px 0px 1px 1px alpha(lighten(tileBgColor, 20), 0.5)

    .article
        margin-top 5px

    .article.article--content
        min-height 163px

    .box-articles .row .article:first-child
        margin-top 5px
        


// TODO: tag sensitive
// large size
@media large
    .not-page-block--trainings
        .article__body
            position relative

        .article__text
            padding 7px 
            text-shadow #000 0px 0px 3px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 1px

        .article__img
            position absolute
            top 0
            opacity 0.5

        .rcf-tile-stretcher
            visibility hidden
             
        .rcf-tile-shower
            display inline-block
            position absolute
            top 0

        .article__body:hover
            .article__img
                opacity 1
            .article__text
                opacity 0.25

.rcf-tile-stretcher
    visibility visible
     
.rcf-tile-shower
    display none

tile-padding()
    padding 10px 15px


.opener // master tile
    display flex

    / .rcf-tag-fonts &
        .opener__heading
            font-size 120%
            
        &, .perex
            font-size unset

    .opener__link-img 
        height 160px
        max-width 286px
        .opener__img
            height auto
            
    .opener__body
        tile-padding()
        max-width unset

    .opener__header:hover
        .opener__heading
            text-decoration underline

.article__text
    tile-padding()

.rcf-tag-color .impressum__rubric
        color unset

/* Promo - bottom white promotion box */

.rcf-tag-color .promo
    opacity 0.2
    .promo__inner
        background white

/* Article */

.rcf-tag-color
    .detail__article::before
        border-top 0
        
    .promotips__item:not(:last-of-type) .promotips__heading
        border-color richBorderColor
    
    .link__text
        color textColor
        
    .promotips__item:hover
        background-color richBgColor

.rcf-tag-floating-article-info
    #articleInfo.fixed
        display none

/* Forum (main page) */
.rcf-tag-color
    .section__body
        padding 10px 4px

    .content__more
        margin 10px 0 5px 0

    .section--discussion .section__header
    .section__header
        margin-bottom 0

    #newTopic
        margin-top -5px
        margin-right 1px

/* Actualities */
.rcf-tag-color
    .page-block--actualities .section__header
        margin-bottom 0

    .article--sidebar
        margin-top 0
        
    // page
        
    .pagination
        color textColor
        .active, .number
        .next, .last, .previous, .first
            color textColor
            background-color richBgColor
            &:hover,&:focus,&:active
                background-color richBgColorHover
        .inactive
            color textColorDark

/* Navbar */
.rcf-tag-color
    .navbar
        transition unset
        padding-left 5px
        min-height 0
        box-shadow none

        .nav-top--aside, .nav-top--main
            height 30px

/* IInfo bar */
.rcf-tag-iinfobar
    #sefa.iinfoBar
        display none
    .navbar
        top 0
    body
        padding-top 30px
    .main
        border-top-width 10px

/* Actualities to right */
.rcf-tag-actualities
    body > .container-fluid
        display flex

    .page
        margin-left 0
        padding-left 0px
        margin-right 355px
        @media large
            margin-right: 305px

    #sidebar
        left unset;
        right -360px
        @media large
            right -310px
            max-width 300px
        
    .main.main--index
        //margin-left 0px
        background none
        //padding-right 300px
            
    .ad-skyscraper-sticky-holder
        display none

/* Forum */

.rcf-tag-forum-ads
    .body_message--ad
        position absolute
        left -1*10**3px

.rcf-tag-color
    .poster > ul > li
    .body_content
        background-color tileBgColor
        
    .btn-group .dropdown-menu > li .button_strip_reply
    .btn-group .dropdown-menu > li .button_strip_new_topic
        button-recolor()

    .poster h4
    .poster ul ul
        rich-element-recolor()

    tileSpace = 0.25em

    .poster
        margin-bottom tileSpace
        opVal = 0.5

        h4
            font-size 120%

        li.avatar
            padding 1em 0 0.1em 0
            img
                border 1px solid textColor
                background-color textColor
            
        & > ul > li:last-child:not(.profile)
            padding-bottom 1em

        li.stars
            img
                opacity opVal
                
        li.postcount
            color alpha(textColor, opVal)
            img
                opacity opVal
                
        li.profile ul li
            opacity opVal
            


    lineSeparatorBorder = 2px solid richBgColor
    .post
        .inner
            border-top lineSeparatorBorder
            padding 0.5em 0 0 0
    .signature
        border-top lineSeparatorBorder

    
.rcf-tag-color
    .body_message
        padding tileSpace 0
        
    blockquote.bbc_standard_quote
    blockquote.bbc_alternate_quote        
    code.bbc_code
        color textColor
        background-color richBgColor
        font-size 95%
        
    blockquote.bbc_alternate_quote
        background-color lighten(richBgColor, 5)

    hidingOpacity = 0.2
    .body_content
        padding 1em 2em
        border-top 2px solid lighten(tileBgColor, 3)
        border-bottom 2px solid lighten(tileBgColor, 10)
        .reportlinks a
            opacity hidingOpacity
        .arrow-left
            border-right-color tileBgColor
        .keyinfo
            opacity hidingOpacity

    .breadcrumb
    #display_jump_to
        background-color tileBgColor

.rcf-tag-color
    .contentboard
    .contentboard tr
        background-color tileBgColor
        td
            color textColor
        .table_list
            td.icon
            td.info
            td.stats
            td.lastpost
                border 0
        .table_list tbody.content td.info a.subject
            color richTextColor
        h4.titlebg, h3.titlebg
            background-color richBgColor

.rcf-tag-color
    div.cat_bar
    h4.catbg, h4.catbg2, h3.catbg, h3.catbg2, .table_list tbody.header td.catbg
        background-color richBgColor

    .upperframe, .roundframe, .lowerframe
        &, span
            background-color tileBgColor

    .btn-primary
        button-recolor()
        
    textarea
    input
    select
        input-recolor()

    hr
        background-color richBgColor

    fieldset
        border 1px solid richBorderColor
        legend
            border 0
            color textColor

    .richedit_resize
        border 0
        background-color richBgColor
                
    #bbcBox_message
        & > div img:not(.rcf-bbcbox-divider)
            box-sizing content-box
            border-radius 4px
            cursor pointer
            background veryLightRichBgColor !important
            border 1px solid darken(veryLightRichBgColor, 5)
            &:hover, &:active, &:focus
                background-color veryLightRichBgColorHover !important
        .rcf-bbcbox-divider
            border 0

    .navigate_section
    .navbar
        background none
    
    .pagesection
        margin-bottom 0.1em
        .btn-group
            margin 0
    
.rcf-tag-color
    .display-info
        display flex
        justify-content space-between
        margin 0.5em 0
        h1
            text-align left

    // list view

    .windowbg, #preview_body, .windowbg2, .windowbg3, .windowbg4
        background-color tileBgColor
        color textColor
        span
            &.topslice, &.botslice
                &, span
                    background-color tileBgColor

    .lockedbg
        background-color darkTileBgColor !important // <- b/c of !imp in original :/

    .table-striped > tbody > tr:nth-child(2n+1)
        & > td, & > th
            background-color lighten(tileBgColor, 1)

    .table
        & > tbody, & > tfoot, & > thead
            & > tr
                & > td, & > th
                    border-top-color richBgColorHover

    tr.catbg th.first_th
        background-color richBgColor

.rcf-tag-color
    .titlebg, .titlebg2, .catbg, .catbg2
        &
            background-color richBgColor
        ^[-1] tr^[-1..1]
            th, td
                background-color richBgColor

    .table > thead > tr > th
        border-bottom 0

    .label-warning
        background-color lightRichBgColor

    #messageindex
        background-color darkTileBgColor
        & > table
            border 1px solid richBgColorHover

    .description, .description_board, .plainbox
        background-color tileBgColor        

.rcf-tag-page-links
    .pagelinks
        margin-top 0
        padding-top: 0.35em
        .navPages, strong
            inline-flex-center()
            border-width 1px
            border-style solid
            width 2.5em
            height 2.5em
        .navPages
            button-recolor()
        strong
            rich-element-recolor()
            background-color lightRichBgColor
        roundness = 0.5em
        .navPages:first-child
            border-radius: roundness 0 0 roundness
        .navPages:last-child
            border-radius: 0 roundness roundness 0
            
    .nextlinks
    .nextlinks_bottom
        display flex

        a
            button-recolor()
            padding 0.5em 1em
            border-width 1px
            border-style solid
            &:first-child
                margin 0 0.5em 0 0
    
    .nextlinks_bottom
        padding 0 0 1em 0
        justify-content center
    .nextlinks
        padding-bottom 0

.rcf-tag-forum-footer
    footer
    .container--footer
        display none
        
    body
        padding-bottom 1em
